@media (min-width: 1050px) {
    .div-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        margin-top: 1rem;
    }

    .div-game-datagrid {
        height: 80vh;
        margin: 0 1rem 1rem 1rem;
        min-width: 60%;
    }

    .div-newgame-detagrid {
        height: 58.3vh;
        min-width: 37%;
    }
}

@media (max-width: 1049px) {
    .div-main {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .div-game-datagrid {
        height: 90vh;
        margin: 1rem;
    }

    .div-newgame-detagrid {
        height: 80vh;
        min-width: 100%;
        margin: 5rem 1rem 0 1rem;
    }
}

@keyframes shadows-post {
    0% {
        box-shadow: 0px 0px 20px 10px #48abe0;
    }
    50% {
        box-shadow: 0px 0px 20px 10px blueviolet;
    }
    75% {
        box-shadow: 0px 0px 20px 10px rebeccapurple;
    }
    100% {
        box-shadow: 0px 0px 20px 10px #48abe0;
    }
}

.div-title-datagrid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.div-newgame-contant {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #fff;
}

.div-addnewgame {
    border: 1px solid #727272;
    border-radius: 10px;
    background-color: #3a3b3c;
    box-shadow: 0px 0px 20px 10px #48abe0;
    animation: shadows-post 10s infinite;
    margin-bottom: 1rem;
}

.div-newgame-contant-btn {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.div-reqgame-datagrid {
    margin-top: 1rem;
}