:root {
	--enlarge: scale(1.25);
	--page-color: steelblue;
	--star-primary-color: gold;
	--star-secondary-color: darkgoldenrod;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.picture {
    justify-content: center;
    align-items: center;
}

.username {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.username-btn {
    display: flex;
    justify-content: left;
    align-items: center;
}

@media (min-width: 1100px) {
    .info {
        width: 1100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: break-spaces;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid #727272;
        font-size: 0.875rem;
        font-weight: 700;
        background: #3a3b3c;
        color: #fff;
        animation: shadows-post 10s infinite;
    }
}

@media (max-width: 1100px) {
    .info {
        width: calc(100vw - 3rem);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: break-spaces;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid #727272;
        font-size: 1rem;
        font-weight: 700;
        background: #3a3b3c;
        color: #fff;
        animation: shadows-post 10s infinite;
    }
}

.div-btn {
    margin-left: 1rem;
}

.comment {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

.comment-context {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-body {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    width: 1100px;
}

.comment-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.rating {
	display: grid;
	place-content: start;
}

.star-group {
	display: grid;
	font-size: clamp(2rem, 2rem, 2rem);
	grid-auto-flow: column;
}

/* reset native input styles */
.star {
	-webkit-appearance: none;
	align-items: center;
	appearance: none;
	cursor: pointer;
	display: grid;
	font: inherit;
	height: 1.15em;
	justify-items: center;
	margin: 0;
	place-content: center;
	position: relative;
	width: 1.15em;
}

@media (prefers-reduced-motion: no-preference) {
	.star {
		transition: all 0.25s;
	}

	.star:before,
	.star:after {
		transition: all 0.25s;
	}
}

.star:before,
.star:after {
	color: var(--star-primary-color);
	position: absolute;
}

.star:before {
	content: "☆";
}

.star:after {
	content: "✦";
	font-size: 25%;
	opacity: 0;
	right: 20%;
	top: 20%;
}

/* The checked radio button and each radio button preceding */
.star:checked:before,
.star:has(~ .star:checked):before {
	content: "★";
}

#two:checked:after,
.star:has(~ #two:checked):after {
	opacity: 1;
	right: 14%;
	top: 10%;
}

#three:checked:before,
.star:has(~ #three:checked):before {
	transform: var(--enlarge);
}

#three:checked:after,
.star:has(~ #three:checked):after {
	opacity: 1;
	right: 8%;
	top: 2%;
	transform: var(--enlarge);
}

#four:checked:before,
.star:has(~ #four:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#four:checked:after,
.star:has(~ #four:checked):after {
	opacity: 1;
	right: 8%;
	top: 2%;
	transform: var(--enlarge);
}

#five:checked:before,
.star:has(~ #five:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#five:checked:after,
.star:has(~ #five:checked):after {
	opacity: 1;
	right: 8%;
	text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
	top: 2%;
	transform: var(--enlarge);
}

.star-group:has(> #five:checked) {
	#one {
		transform: rotate(-15deg);
	}

	#two {
		transform: translateY(-20%) rotate(-7.5deg);
	}

	#three {
		transform: translateY(-30%);
	}

	#four {
		transform: translateY(-20%) rotate(7.5deg);
	}

	#five {
		transform: rotate(15deg);
	}
}

.star:focus {
	outline: none;
}

.star:focus-visible {
	border-radius: 8px;
	outline: 2px dashed var(--star-primary-color);
	outline-offset: 8px;
	transition: all 0s;
}

/* delete btn */
.delete-container {
	justify-content: end;
	align-items: end;
	margin-top: 1rem;
}