.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;  
}
  
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
  
.post-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
  
.post-author {
    font-weight: bold;
    margin-right: 5px;
}
  
.post-timestamp {
    color: #888;
}
  
.post-content {
    margin-top: 5px;
    white-space: pre-line;
}

.post-price {
    margin-top: 5px;
}
  
.post-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.filter-container {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-left: 10px;
}

.filter-input {
    border: none;
    background: none;
    width: 100%;
}

a {
    color: inherit; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container-reserve {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.button-reserve {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  background-color: #c9e5ff;
  border: 1px solid #003cff;
  outline: none;
  transition: 1s ease-in-out;
}

.svg-reserve {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.button-reserve:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.button-reserve:hover svg {
  stroke-dashoffset: -480;
}

.button-reserve span {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 100;
}

.button-reserve:hover span {
    color: rgb(255, 255, 255);
    transition: 1s ease-in-out;
  }